<div class="jumbotron center">

  <h1>About PinClone</h1>
  <p>Hi!  My name is Dean.  This is my attempt at recreating a Pinterest styled webapp!</p>
  <p>This webapp is powered by Ruby on Rails with a notable use of bootstrap and paperclip gems.</p>
  
</div>