<div class="jumbotron center">
  
  <h1>Contact us!!</h1>
  <p>Questions?&nbsp; Comments?&nbsp; Drop me a line here through my Email!</p>
  <p>Email: <a href="mailto:deanchuang1@gmail.com">deanchuang1@gmail.com</a></p>
  <img src="/images/gato_inteligente.jpg" width="312" height="230" alt="cat!" />
  
</div>